<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxs.dao.UserMapper">

    <select id="findAllUserByPage" resultType="user" parameterType="uservo">
        SELECT
        id,
        NAME,
        portrait,
        phone,
        PASSWORD,
        STATUS,
        create_time
        FROM USER
        <where>
            <if test="true">
                and is_del != 1
            </if>
            <if test="username != null">
                and name = #{username}
            </if>
            <if test="startCreateTime != null and endCreateTime != null">
                and create_time BETWEEN #{startCreateTime} AND #{endCreateTime}
            </if>
        </where>
    </select>
    <!--根据用户名查询用户-->
    <select id="login" resultType="user" parameterType="user">
        select *
        from user
        where phone = #{phone}
    </select>
    <!--获取用户拥有的菜单权限-->
    <select id="findUserRoleById" resultType="role" parameterType="integer">
        select *
        from roles r
                 INNER JOIN user_role_relation ur on r.id = ur.role_id
        where ur.user_id = #{id}
    </select>
    <!--通过用户id清空中间表-->
    <delete id="deleteUserContextRole" parameterType="integer">
        delete
        from user_role_relation
        where user_id = #{uid}
    </delete>

    <!--获取用户拥有的菜单权限-->
    <insert id="userContextRole" parameterType="user_Role_relation">
        insert into user_role_relation
        values (null, #{userId}, #{roleId}, #{createdTime}, #{updatedTime}, #{createdBy}, #{updatedby})
    </insert>

    <!---->
    <select id="findParentMenuByRoleId" parameterType="java.util.List" resultType="menu">

        SELECT
        DISTINCT m.*
        FROM roles r INNER JOIN role_menu_relation rm ON r.`id` = rm.role_id
        INNER JOIN menu m ON rm.menu_id = m.id
        WHERE m.parent_id = -1 AND r.id IN
        <foreach collection="list" item="item" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
        GROUP BY m.id

<!--        select distinct m.*-->
        <!--        from menu m-->
        <!--        INNER JOIN role_menu_relation rmr ON m.id = rmr.menu_id-->
        <!--        INNER JOIN roles r on rmr.role_id = r.id-->
        <!--        WHERE m.parent_id = -1-->
        <!--        and r.id in-->
        <!--        <foreach collection="list" item="item" open="(" close=")" separator=",">-->
        <!--            #{item}-->
        <!--        </foreach>-->
    </select>
    <!--通过pid查询子菜单信息-->
    <select id="findChildrenMenuByPid" parameterType="integer" resultType="menu">
        select *
        from menu
        where parent_id = #{pid}
    </select>
    <!--获取用户拥有的资源权限信息-->
    <select id="findResourceByRoleId" parameterType="java.util.List" resultType="resource">

        SELECT
        DISTINCT rc.*
        FROM roles r INNER JOIN role_resource_relation rrr ON r.`id` =
        rrr.`role_id`
        INNER JOIN resource rc ON rrr.`resource_id` = rc.`id` WHERE r.id IN
        <foreach item="item" index="index" collection="list" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        GROUP BY rc.id;



<!--        SELECT DISTINCT *-->
        <!--        FROM roles r-->
        <!--        INNER JOIN role_resource_relation rrr ON r.`id` =-->
        <!--        rrr.`role_id`-->
        <!--        INNER JOIN resource rc ON rrr.`resource_id` = rc.`id`-->
        <!--        WHERE r.id IN-->
        <!--        <foreach collection="list" item="item" open="(" close=")" separator=",">-->
        <!--            #{item}-->
        <!--        </foreach>-->
    </select>


</mapper>
